Repository bobloy/Fox-V3, pull requests merged in 2020-07, with the labels that each got.

#97 Use more built-in functions, switch to on_command_error
  ccrole/ccrole.py
Labels: cog: ccrole, enhancement

#104 Add BytesIO seek to fix empty file error
  tts/tts.py
Labels: cog: tts

#105 Positional arguments changed
  tts/tts.py
Labels: cog: tts

#106 Infochannel develop
  infochannel/infochannel.py
Labels: cog: infochannel

#42 [StealEmoji] Bug fixes and better handling
  stealemoji/stealemoji.py
Labels: cog: stealemoji

#107 Chatter revamp
  README.md
  chatter/README.md
  chatter/__init__.py
  chatter/chat.py
  chatter/chatterbot/__init__.py
  chatter/chatterbot/__main__.py
  chatter/chatterbot/adapters.py
  chatter/chatterbot/chatterbot.py
  chatter/chatterbot/comparisons.py
  chatter/chatterbot/constants.py
  chatter/chatterbot/conversation.py
  chatter/chatterbot/corpus.py
  chatter/chatterbot/ext/__init__.py
  chatter/chatterbot/ext/sqlalchemy_app/__init__.py
  chatter/chatterbot/ext/sqlalchemy_app/models.py
  chatter/chatterbot/ext/sqlalchemy_app/types.py
  chatter/chatterbot/filters.py
  chatter/chatterbot/input/__init__.py
  chatter/chatterbot/input/gitter.py
  chatter/chatterbot/input/hipchat.py
  chatter/chatterbot/input/input_adapter.py
  chatter/chatterbot/input/mailgun.py
  chatter/chatterbot/input/microsoft.py
  chatter/chatterbot/input/terminal.py
  chatter/chatterbot/input/variable_input_type_adapter.py
  chatter/chatterbot/logic/__init__.py
  chatter/chatterbot/logic/best_match.py
  chatter/chatterbot/logic/logic_adapter.py
  chatter/chatterbot/logic/low_confidence.py
  chatter/chatterbot/logic/mathematical_evaluation.py
  chatter/chatterbot/logic/multi_adapter.py
  chatter/chatterbot/logic/no_knowledge_adapter.py
  chatter/chatterbot/logic/specific_response.py
  chatter/chatterbot/logic/time_adapter.py
  chatter/chatterbot/output/__init__.py
  chatter/chatterbot/output/gitter.py
  chatter/chatterbot/output/hipchat.py
  chatter/chatterbot/output/mailgun.py
  chatter/chatterbot/output/microsoft.py
  chatter/chatterbot/output/output_adapter.py
  chatter/chatterbot/output/terminal.py
  chatter/chatterbot/parsing.py
  chatter/chatterbot/preprocessors.py
  chatter/chatterbot/response_selection.py
  chatter/chatterbot/storage/__init__.py
  chatter/chatterbot/storage/mongodb.py
  chatter/chatterbot/storage/sql_storage.py
  chatter/chatterbot/storage/storage_adapter.py
  chatter/chatterbot/trainers.py
  chatter/chatterbot/utils.py
  chatter/info.json
  chatter/requirements.txt
Labels: cog: chatter
