Repository bobloy/Fox-V3, pull requests merged in 2021-04, with the labels that each got.

#178 [SCP] Remove double setup
  scp/scp.py
Labels: cog: scp

#148 Language Support Added
  tts/tts.py
Labels: cog: tts

#180 [LoveCalculator] Patch AttributeError
  lovecalculator/lovecalculator.py
Labels: cog: lovecalculator
