Repository bobloy/Fox-V3, pull requests merged in 2023-01, with the labels that each got.

#208 Add @guild_only decorator to `[p]tts`
  tts/tts.py
Labels: cog: tts

#204 Increase max SCP article number
  scp/scp.py
Labels: cog: scp

#202 Switch from git:// to https://
  chatter/chat.py
  chatter/info.json
Labels: cog: chatter

#198 Fix BIT + Etc/ timezones
  fifo/timezones.py
Labels: cog: fifo
