Repository bobloy/Fox-V3, pull requests merged in 2023-06, with the labels that each got.

#211 Support both red 3.4 and 3.5 in fifo and firstmessage cogs
  fifo/__init__.py
  fifo/task.py
  firstmessage/__init__.py
  firstmessage/firstmessage.py
Labels: cog: fifo, cog: firstmessage

#219 anext instead of flatten+limit=1
  fifo/task.py
Labels: cog: fifo

#220 No more naive timezones
  chatter/chat.py
  fifo/task.py
  lseen/lseen.py
  timerole/timerole.py
Labels: cog: chatter, cog: timerole, cog: fifo, cog: lseen

#223 Switch to isitup.org API
  isitdown/info.json
  isitdown/isitdown.py
Labels: cog: isitdown
